<% include ./includes/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
           <div class="row">
             <div class="col-md-12">
               <div id="iadbanner-top1000">
               </div>
               <script type="text/javascript" src="//iads.com.np/js/worldcup.bizpati.com.js"></script>
             </div>
           </div><br>
           <div class="row">
               <div class="col-lg-4 col-md-6">
                  <!-- START widget-->
                  <div class="panel widget bg-bizpati">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-bizpati-red pv-lg">
                           <em class="icon-share fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h1 m0 text-bold"><%=data.game_played %></div>
                           <div class="text-uppercase">Game Play</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- START widget-->
                  <div class="panel widget bg-bizpati">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-bizpati-red pv-lg">
                           <em class="icon-star fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h1 m0 text-bold"><%=data.points %></div>
                           <div class="text-uppercase">Points</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-12">
                  <!-- START widget-->
                  <div class="panel widget bg-bizpati">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-bizpati-red pv-lg">
                           <em class="icon-trophy fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h1 m0 text-bold"><%=Math.floor((data.game_played/48) * 100) %> %</div>
                           <div class="text-uppercase">Domination</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="https://play.google.com/store/apps/details?id=com.reecharger" target="_blank">
                  <img src="/assets/ads/belowgame.gif" alt="" class="img img-responsive">
                </a>
              </div>
            </div> <br>
            <div class="panel panel-primary">
              <div class="panel-header text-center">
                <h4><u>Todays Match</u></h4>
              </div>
              <div class="panel-body" id="gamelist">

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="http://www.chandragirihills.com/" target="_blank">
                  <img src="/assets/ads/chandra.jpg" alt="Changragiri Hills" class="img img-responsive">
                </a>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-4">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr class="bg-bizpati">
                            <th colspan="6" class="text-center color-white">Leaderboard (Over All)</th>
                          </tr>
                          <tr>
                            <th>SN</th>
                            <th>Player</th>
                            <th>Score</th>
                          </tr>
                        </thead>
                        <tbody id="leaderboard">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <a href="http://www.machbank.com/" target="_blank">
                  <img src="/assets/ads/belowlead2.gif" class="img img-responsive"/>
                </a>
              </div>
              <div class="col-md-8">
                <% for(var i=0; i < groups.length; i++) { %>
                <div class="col-md-6">
                  <div class="panel panel-primary">
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr class="bg-bizpati">
                              <th colspan="6" class="text-center color-white"><%=groups[i].name %></th>
                            </tr>
                            <tr>
                              <th>Country</th>
                              <th>GP</th>
                              <th>W</th>
                              <th>D</th>
                              <th>L</th>
                              <th>P</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var j = 0; j < groups[i].data.length; j++) { %>
                            <tr>
                              <td><%=groups[i].data[j].name %></td>
                              <td><%=groups[i].data[j].gp %></td>
                              <td><%=groups[i].data[j].w %></td>
                              <td><%=groups[i].data[j].d %></td>
                              <td><%=groups[i].data[j].l %></td>
                              <td><%=groups[i].data[j].p %></td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <div class="col-md-12">
                  <a href="http://www.bsrmovies.com/" target="_blank">
                    <img src="/assets/ads/belowtable.gif" alt="" class="img img-responsive">
                  </a>
                </div>
              </div>
            </div>
         </div>
         <% include ./includes/footer.ejs %>
