<% include ../includes/header.ejs %>
<% include ../includes/sidebar.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>Home - Teams
               <small>All Teams</small>
               
            </h3>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-responsive table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Teams</th>
                      <th>Time</th>
                      <th>Game</th>
                      <th>Match</th>
                      <th>Group</th>
                      <th>Created Date</th>
                      <th>Timer</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% for(var i= data.length-1; i >= 0; i--) { %>
                    <tr>
                      <td><%=i+1 %></td>
                      <td><code><%=data[i].teamonedetails[0].name %></code> [<%=data[i].scoreone %>] VS <code><%=data[i].teamtwodetails[0].name %></code> [<%=data[i].scoretwo %>]</td>
                      <td><%=data[i].time %></td>
                      <td><%=data[i].gamedetails[0].name %></td>
                      <td><%=data[i].match %></td>
                      <td><%=data[i].groupdetails[0].name %></td>
                      <td><%=data[i].date %></td>
                      <td><span class="timer" data-time="0" currentTime="<%=currentTime %>" matchTime="<%=data[i].time %>">0</td>
                      <td><%=data[i].status ? 'Active' : 'Not Active' %></td>
                      <td>[<a href="update/<%= data[i]._id %>">Update</a>][<a href="delete/<%= data[i]._id %>" class="ajaxClick">Delete</a>][<a href="predict/<%=data[i]._id %>">View Prediction</a>]</td>
                    </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </div>
         </div>
      </section>
      <!-- Page footer-->
<% include ../includes/footer.ejs %>
